<div style="margin:0; width: auto;background-color: aqua;display: flex;">
    <h1>KusKus</h1>
    <input type="text" placeholder="Search.." style="order : 2;align-items: center;justify-content: center;">
    <a style="margin-left:auto; order:2;" href="/login">login</a>
</div>