<link rel="stylesheet" href="/css/header.css" type="text/css">
<div class="wrapper">
    <div class="headername">
        <h2>KusKus</h2>
    </div>
    <div class="navbar">
        <ul>
            <li><input type="text" placeholder="Search.."></li>
            <li><a href="/login">login</a></li>
        </ul>
        
    </div>
    
   
</div>