<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/home.css" type="text/css">
  <title>Tubes</title>
</head>
<body style="margin: 0;">
  <header>
    <%- include('header.ejs') %>
    <%- include('menu.ejs') %>
  </header>
  
  <div class="btn">
    <a href="/insertThread" class="button">Start a new Thread</a>
  </div>
</body>
</html>