<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tubes</title>
</head>
<body style="margin: 0;">
    <%- include('header.ejs') %>
    <%- include('menu.ejs') %>
</body>
</html>