<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/landingpage.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Kuskus</title>
</head>
<body>
    <main>
        <header>
            <div class="container">
                <h2>KusKus</h2>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="left">
                    <h1>Welcome to KusKus!</h1>
                    <p>Let's Start Exploring!</p>
                    <div class="btn">
                        <a href="/login" class="button">Get Started</a>
                    </div>
                </div>
                <div class="right">
                    <img src="/image/forum.png" alt="forum" class="image">
                </div>
            </div>
        </div>
    </main>
</body>
</html>