<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <header>Log In</header>
        <form method="post">
            <div class="input-login">
                <label>Email</label>
                <input type="email" required>
            </div>

            <div class="input-login">
                <label>Password</label>
                <input type="password" required>
            </div>            
            
            <button type="submit" class="btn">LOGIN</button>
            <div>dont have an account? 
            <a href="">Register</div>
            </div>
        </form>
    </div>
</body>
<style>
*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    background: lightblue;
}

.container{
    position: relative;
    width: 350px;
    background: whitesmoke;
    padding: 30px 20px;
}

header{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: sans-serif;
}

.input-login, form .btn{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-login input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    font-size: 19px;
    outline: none;

}

.input-login label{
    left: 15px;
    color: grey;
    font-size: 18px;
}

.btn{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    font-size: 15px;
    background-color: lightblue;
}

</style>
</html>