@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.content .wrapper{
    align-items: center;
    justify-content: center;
    background: white;
    padding: 30px 20px;
}

.form-group label{
    display: block;
    margin: 2rem 0 0.5rem 0;
}

.form-group input[type="text"],
.form-group textarea
{
    width: 100%;
    padding: 1rem 0.8rem;
   
}

.submit{
    background: rgb(142, 211, 246);
    color: white;
    margin-top: 1rem;
    padding: 1rem 6rem;
    border: none;
    font-family: "Poppins", sans-serif;
}